$col-Background: #1d1f21;
$col-BorderSong: black;
$col-BackgroundSong: #242425;
$col-TitleBackground: #0d0c02;
$col-Text: #d0d0d0;
$col-HeaderSeparator: #222005;
$col-Link: #72bcbc;
$col-VisitedLink: #72bcbc;
$col-HoverLink: #cf6e6e;
$col-ContentHeader: #d2b40a;
$col-ContentHeaderLighter: #c8be1e;
$col-ContentUnderline: #005000;

body {
    background-color: $col-Background;
    margin: 1rem;
    color: $col-Text;
}

img { border: none; }

a:link {
    color: $col-Link;
}

a:visited {
    color: $col-VisitedLink;
}

a:hover {
    color: $col-HoverLink;
}

section.song {
    margin-bottom: 3rem;
    margin-left: 0;

    header {
        border-bottom: 1px solid $col-HeaderSeparator;
        margin-bottom: 1rem;
    }

    footer {
        .song-tags {
            font-size: 87%;
        }

        .metadata {
            font-style: italic;
            text-align: right;
            font-size: 87%;
        }
    }
}

.song-tag, .song-tag-remove {
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
}

.tag-list {
    margin-top: 1rem;
    margin-left: -2.4rem;
    list-style: none;

    li {
        display: inline-block;
    }
}

.tag-button {
    margin-bottom: 0.5rem;
}

h2.title {
    font-weight: 800;
    font-size: 2rem;
    display:  block;
    color: $col-ContentHeader;
    background-color: $col-TitleBackground;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid $col-ContentUnderline;

    a {
        &:visited, &:link {
            color: $col-ContentHeader;
        }
        &:hover {
            color: $col-ContentHeaderLighter;
        }
    }
}

h3.artist {
    font-size: 1.5rem;
    font-style: oblique;
}

h4.release {
    font-weight: 300;
    font-size: 1rem;
    font-style: oblique;
}

div.youtube {
    margin-bottom: 1em;
}

.links h4 {
    display: none;
}

.content, .description, .front-page-song-list {
    h2 {
        margin-top: 1rem;
        color: $col-ContentHeader;
        font-weight: bold;
        border-bottom: 2px solid $col-ContentUnderline;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    h3 {
        margin-top: 1rem;
        color: $col-ContentHeader;
        margin-bottom: 1rem;
        border-bottom: 2px solid $col-ContentUnderline;
    }

    blockquote {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid $col-ContentUnderline;
        font-style: oblique;
    }
}

.front-page-song-list {
    a {
        font-weight: bold; 
    }
    li {
        padding-bottom: 0.5rem;
    }
    .date {
        color: #a0a0a0;
    }
}

.page-header {
    padding-bottom: 0.5rem;

    h1 a {
        color: $col-ContentHeader;
        font-style: oblique;
        font-weight: bold;

        &:hover {
            color: $col-ContentHeaderLighter;
        }
    }
}

ul.link-list {
    list-style: none;
    
    li {
        min-height: 32px;
        margin-bottom: 12px;
        padding-left: 48px;
    }
    
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
}

.link-description {
    padding-left: 0.5rem;
}

.atom {
    float: right;
}
